@font-face {
    font-family: 'TheSeasons';
    src: url('files/fonts/the-seasons-bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TheSeasons';
    src: url('files/fonts/the-seasons-regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TheSeasons';
    src: url('files/fonts/the-seasons-light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

* {
    user-select: none;
  }

  .allow-select {
    user-select: text;
  }

:root {
    --font-size-base: 1.2vw; 
    --viewport-height: 100vh/58;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    background-color: #F3F0E7;
    min-width: 320px;
    scroll-behavior: smooth;
}

.container {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100% !important;
    max-height: 100% !important;
}

/* progress tracker start */

.menu {
    position: fixed;
    right: 0;
    top: 40%;
    text-align: right;
    margin-right: 25px;
    z-index: 1000;
    padding-left: 0;
}

.menu li {
    display: flex;
    align-items: center;
    line-height: 25px;
    list-style: none;
    cursor: pointer;
    position: relative;
    white-space: nowrap; /* Ensures the text doesn't wrap */
    padding-bottom: 2vh;
}

.menu span {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.4em;
    opacity: 0;
    color: white;
    transition: opacity 0.3s;
    visibility: hidden;
    position: absolute;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 175px;
    padding-right: 3px;
}

/* Show text for all items when hovering over the menu (PC) */
.menu:hover span {
    opacity: 1;
    visibility: visible;
}

.menu .circle-o {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

/* Scale and change color for the current or hovered item (PC only) */
.menu li.current .circle-o,
.menu:not(.mobile) li:hover .circle-o {
    transform: scale(1.5);
    background-color: #292929;
}

@media (max-width: 768px) {
    .menu li.active span {
    opacity: 1;
    visibility: visible;
    }
    .menu:hover span {
        opacity: 0;
    }
}
/* progress tracker end */

/* mobile progress tracker start */

.progress-wrap {
    position: fixed;
    right: 30px;
    top: 30px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: all 200ms linear;
    background: transparent;
    display: none;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.progress-wrap .progress-bg {
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 5;
    fill: none;
}

.progress-wrap .progress-bar {
    stroke: #222;
    stroke-width: 5;
    fill: none;
    stroke-dasharray: 307.919;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.2s linear;
}

#menu-btn-mobile {
    --animation-duration: 0.6s;
    --animation-timing-function: ease-in-out;
    --bar-color: #222;
    --btn-size: 20px; 
    --bar-spacing: calc(var(--btn-size) * 0.15);
    background: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: var(--bar-spacing);
    height: var(--btn-size);
    justify-content: center;
    padding: 0;
    transition:
        calc(var(--animation-duration) / 2) 
        transform 
        var(--animation-timing-function);
    width: var(--btn-size);
    outline: none;
}

#menu-btn-mobile span {
    --bar-height: calc(var(--btn-size) * 0.15);
    animation-duration: var(--animation-duration);
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    background: var(--bar-color);
    border-radius: var(--bar-height);
    height: var(--bar-height);
    width: 100%;
}

#menu-btn-mobile[data-state="x"] { transform: rotate(-90deg);  }
#menu-btn-mobile[data-state="x"] span:nth-child(1) { animation-name: to-x-top; }
#menu-btn-mobile[data-state="x"] span:nth-child(2) { animation-name: to-x-mid; }
#menu-btn-mobile[data-state="x"] span:nth-child(3) { animation-name: to-x-btm; }
@keyframes to-x-top {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(calc(var(--bar-height) + var(--bar-spacing))) rotate(0); }
    100% { transform: translateY(calc(var(--bar-height) + var(--bar-spacing))) rotate(-45deg); }
}
@keyframes to-x-mid {
    50% { transform: rotate(0); }
    100% { transform: rotate(-45deg); }
}
@keyframes to-x-btm {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(calc(-1 * (var(--bar-height) + var(--bar-spacing)))) rotate(0); }
    100% { transform: translateY(calc(-1 * (var(--bar-height) + var(--bar-spacing)))) rotate(-135deg); }
}

#menu-btn-mobile[data-state="hamburger"] span:nth-child(1) { animation-name: to-hamburger-top; }
#menu-btn-mobile[data-state="hamburger"] span:nth-child(2) { animation-name: to-hamburger-mid; }
#menu-btn-mobile[data-state="hamburger"] span:nth-child(3) { animation-name: to-hamburger-btm; }
@keyframes to-hamburger-top {
    0% { transform: translateY(calc(var(--bar-height) + var(--bar-spacing))) rotate(-45deg); }
    50% { transform: translateY(calc(var(--bar-height) + var(--bar-spacing))) rotate(0); }
    100% { transform: translateY(0) rotate(0); }
}
@keyframes to-hamburger-mid {
    0% { transform: rotate(-45deg); }
    50% { transform: rotate(0); }
}
@keyframes to-hamburger-btm {
    0% { transform: translateY(calc(-1 * (var(--bar-height) + var(--bar-spacing)))) rotate(-135deg); }
    50% { transform: translateY(calc(-1 * (var(--bar-height) + var(--bar-spacing)))) rotate(0); }
    100% { transform: translateY(0) rotate(0); }
}

.mobile-section-menu {
    position: fixed;
    right: 30px;
    top: 90px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 5px 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
    z-index: 999;
}

.mobile-section-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s;
}

.mobile-section-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}

#last-mobile-tracker-menu-section {
    border-bottom: none;
}

.mobile-section-menu a.active {
    font-weight: bold;
}

.mobile-section-menu a:hover {
    font-weight: bold;
}

.close-btn {
    cursor: pointer;
    padding: 5px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    font-size: 16px;
    margin-bottom: 10px;
}

/* mobile progress tracker end */

.row {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.page-row {
    height: 100%;
    width: 100%;
}

#first-page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.col {
    padding: 0;
}

.col-12 {
    width: 100%;
}

.page-col-12 {
    height: 100%;
    overflow: hidden;
}

#brand-name-div {
    justify-content: start;
}

.brand-name {
    position: relative;
    font-family: "TheSeasons", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(3.5rem, calc(var(--font-size-base) * 5), 5rem);
    margin: 0;
    color: white;
}

#social-media-div {
    justify-content: end;
    align-items: center;
}

#social-media-header {
    margin: 3vh 0 5vh 0;
    margin-top: clamp(3vh, calc(var(--font-size-base) * 3), 4vh);
}

#social-media-header a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    opacity: 0.95;
}

#social-media-header a:hover,
#social-media-header a:active {
    color: #a55e45;
}

#social-media-header a svg {
    height: clamp(2.35rem, calc(var(--font-size-base) * 2.6), 2.6rem);
    width: clamp(2.35rem, calc(var(--font-size-base) * 2.6), 2.6rem);
}

#first-page-content {
    position: relative;
    overflow: hidden;
    margin-top: clamp(34.6px, calc(200px - var(--font-size-base) * 11), 68px);
    margin-bottom: clamp(43.25px, calc(200px - var(--font-size-base) * 11), 68px);
    min-height: 35vh;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Place the video behind the content */
    object-fit: cover; /* Ensure the video covers the entire background */
}

.video-background::after {
    content: ""; /* Required for pseudo-elements */
    position: absolute; /* Ensures it covers the parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1e20;
    opacity: 0.53;
    z-index: 2;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the container */
}

.title-text {
    font-size: clamp(1rem, calc(var(--font-size-base) * 8), 8rem);
    color: #a55e45;
}

.title-text-top {
    margin-top: 3vh;
    margin-right: 20vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.title-text-bottom {
    margin-left: 20vw;
    margin-bottom: 3vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#dream {
    font-size: clamp(1rem, calc(var(--font-size-base) * 10), 10rem);
}

.general-text {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}

.stressed-text {
    font-family: "TheSeasons", sans-serif;
    font-weight: 300;
}

.cursive-text {
    font-family: "Pinyon Script", serif;
}

.paragraph-title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 300;
}

.text-center {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center;
}

.text-part {
    display: inline-block; /* Ensure F and x on Duty stay in line */
}

#logo-socials-row {
    padding: 3vh 2vw 10px 2vw;
}

#logo {
    position: relative;
    bottom: 0;
    left: -1%;
    width: clamp(2.1rem, calc(var(--font-size-base) * 3), 3rem);
    height: clamp(2.47rem, calc(var(--font-size-base) * 3.53), 3.53rem);
    mask: url("files/media/logos/FoxOnDuty_logo_thicker.svg") no-repeat center;
    -webkit-mask: url("files/media/logos/FoxOnDuty_logo_thicker.svg") no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
    background-color: #a55e45;
}

#experts {
    position: absolute;
    font-weight: 500;
    top: 90%;
    font-family: "Nunito Sans", serif;
    font-size: clamp(0.8rem, calc(var(--font-size-base) * 0.9), 1rem);
    letter-spacing: clamp(0.1rem, calc(var(--font-size-base) * 0.4), 0.4rem);
    padding-top: 6px;
}

h3 {
    font-size: 1.35rem;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
}

.service-card {
    width: 100%;
    height: 100%;
    padding: 2rem 1.5rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
    font-size: clamp(1rem, calc(var(--font-size-base) * 1.15), 1.15rem);
    color: white;
  }

.service-card h3 {
    font-size: clamp(1.2rem, calc(var(--font-size-base) * 1.35), 1.35rem);
}

#services-title {
    font-size: clamp(2.75rem, calc(var(--font-size-base) * 3), 3rem);
    margin-bottom: 3vh;
}

#banner-text-section {
    position: relative;
}

.under-box {
    background-color: #a55e45;
    height: 40px;
    width: 100%;
}

.banner-text {
    background-color: #a55e45;
    z-index: 2;
}

#notch {
    width: 100%;
    position: absolute;
    top: -39px;
}

.button-div {
    padding: 0;
}

.contact-button {
    margin: 20px 0 0 0;
    background: #292929;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .contact-button:hover {
    transform: scale(1.02);
    background: #a55e45;
  }

  .contact-button:focus {
    outline: none;
  }

#banner-text {
    font-size: clamp(2.75rem, calc(var(--font-size-base) * 4), 4rem);
    text-align: center;
    width: 70%;
    margin: 20vh 0 20vh 0;
    font-weight: 200;
}

#photo-section {
    display: none;
}

#services-section {
    background-color: #F3F0E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 2vw 2vh 2vh 2vh;
}

.separator-line {
    width: 50%;
    min-height: 1px;
    border-top: solid 1px #292929;
    margin: 10px 0 20px 0;
}

#services-section-inner {
    width: 100%;
    padding: 5vh;
}

.coorporate-events-row {
    margin-top: 12.5vh;
}

.private-celebrations-row {
    margin-top: 20vh;
}

.consultations-row {
    margin: 25vh 0 25vh 0;
}

.services-section-righthand-text-div {
    position: relative;
}

.services-section-righthand-text {
    position: absolute;
    width: 45vw;
    right: 100%;
    z-index: 2;
    padding: 25px;
    background-color: #ded2bc;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.services-section-title {
    font-size: clamp(2.25rem, calc(var(--font-size-base) * 3), 3rem);
    text-align: start;
    text-transform: uppercase;
    font-weight: 200;
}

.services-section-text-description {
    font-size: clamp(1rem, calc(var(--font-size-base) * 1.1), 1.1rem);
    text-align: start;
}

.image-holder-mobile {
    display: none;
}

.image-holder-pc {
    display: flex;
}

.services-section-righthand-image-holder {
    z-index: 1;
    width: 100%;
    max-width: 750px;

}

.services-section-righthand-image {
    width: 100%;
    z-index: 1;
}

.services-section-lefthand-text-div {
    position: relative;
}


.services-section-lefthand-text {
    position: absolute;
    width: 45vw;
    left: 100%;
    z-index: 2;
    padding: 25px;
    background-color: #ded2bc;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.services-section-lefthand-image-holder {
    z-index: 1;
    width: 100%;
    max-width: 750px;
}

.services-section-lefthand-image {
    width: 100%;
    z-index: 1;
}

#services-sub-text {
    font-size: 1.15rem;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 39px;
}

#coorporate-events-text {
    top: 20%;
}

#private-celebrations-text {
    bottom: -10%;
}

#sand-color-section {
    background-color: #ded2bc;
    padding: 10vh 10vw;
}

/* Initial state - hidden */
.fade-in-left, .fade-in-right {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* When in view, make them visible */
.fade-in-left.active {
    opacity: 1;
    transform: translateX(0);
}

.fade-in-right {
    transform: translateX(50px);
}

.fade-in-right.active {
    opacity: 1;
    transform: translateX(0);
}


#vagone-quote {
    position: relative;
    padding: 5px 0 5px 0;
    font-size: clamp(1.2rem, calc(var(--font-size-base) * 1.6), 1.6rem);
    width: 75%;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
    z-index: 2;
}

#vagone-quote::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 0;
    width: clamp(4rem, calc(var(--font-size-base) * 6), 6rem);
    height: clamp(4rem, calc(var(--font-size-base) * 6), 6rem);
    background-image: url('files/media/stock/quotes.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: -1;
  }
  

#vagone-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0 5vh 0;
    max-width: 755px;
}

#vagone-info-inner-container {
    max-width: 75%;
    font-size: 1rem;
    text-align: justify; 
}

#vagone-socials {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
}

#vagone-socials a {
    margin: 0 10px;
    color: #F3F0E7;
    opacity: 0.95;
    text-decoration: none;
}

#vagone-instagram-icon {
    height: clamp(1.5rem, calc(var(--font-size-base) * 1.5), 1.5rem);
    width: clamp(1.5rem, calc(var(--font-size-base) * 1.5), 1.5rem);
}

#vagone-facebook-icon {
    height: clamp(1.4rem, calc(var(--font-size-base) * 1.4), 1.4rem);
    width: clamp(1.4rem, calc(var(--font-size-base) * 1.4), 1.4rem);
}

#vagone-linkedin-icon {
    height: clamp(1.4rem, calc(var(--font-size-base) * 1.4), 1.4rem);
    width: clamp(1.4rem, calc(var(--font-size-base) * 1.4), 1.4rem);
}

#vagone-socials a:hover,
#vagone-socials a:active {
    color: #a55e45;
}

#founder {
    letter-spacing: 0.175rem;
    font-size: clamp(1.1rem, calc(var(--font-size-base) * 1.2), 1.2rem);
}

#vagone-name {
    display: flex;
    align-items: center; 
    font-size: clamp(3.5rem, calc(var(--font-size-base) * 3.5), 3.5rem);
    margin-bottom: 1vh;
}

#vagone-name-div {
    margin-bottom: 2vh;
}

#quote-div {
    display: flex;
    padding: 0;
}

#quote-div-mobile {
    display: none;
}

#vagone-photo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    overflow: hidden;
    max-height: 500px;
}

#vagone-image {
    height: 100%;
    max-height: 500px;
}

#clients-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 2vw 2vw 0 2vw;
}

#clients-title {
    font-size: clamp(2.75rem, calc(var(--font-size-base) * 3), 3rem);
    margin-bottom: 3vh;
}

#clients-sub-text {
    font-size: 1.15rem;
}

#clients-inner-container {
    width: 70%;
    min-width: 850px;
    padding: 5vh;
}

.client-logo {
    width: 80%;
}

.client-logo-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

#locations-inner-container {
    width: 100%;
}

/*countries slider start*/

#countries-slider-wrapper {
    padding: 35px;
  }

  .slider-nav-wrapper {
      position: relative;
      overflow-x: hidden;

  }
  .slider-nav-wrapper .icon {
      position: absolute;
      top: 0;
      height: 100%;
      width: 120px;
      display: flex;
      align-items: center;
      pointer-events: none;
  }
  .icon:first-child {
      left: 0;
      display: none;
      background: linear-gradient(90deg, #fff 40%, transparent);
  }
  .icon:last-child {
      right: 0;
      justify-content: flex-end;
      background: linear-gradient(-90deg, #fff 40%, transparent);
  }
  .icon i {
      width: 55px;
      height: 55px;
      cursor: pointer;
      font-size: 1.2rem;
      text-align: center;
      line-height: 55px;
      border-radius: 50%;
  }

  .slider-nav-wrapper .tabs-box {
      margin-bottom: 0;
      padding: 0;
      display: flex;
      gap: 12px;
      list-style: none;
      overflow-x: hidden;
      scroll-behavior: smooth;
  }
  .tabs-box.dragging {
      scroll-behavior: auto;
      cursor: grab;
  }
  .tabs-box .tab {
      cursor: pointer;
      font-size: 1.18rem;
      white-space: nowrap;
      background: #f5f4fd;
      padding: 13px 20px;
      border: 1px solid #d8d5f2;
  }
  .tabs-box .tab:hover {
      background: #efedfb;
  }
  .tabs-box.dragging .tab {
      user-select: none;
      pointer-events: none;
  }
  .tabs-box .tab.active {
      color: #fff;
      background: #5372F0;
      border-color: transparent;
  }

  .outer-content-window {
    border: solid 1px black;
  }

  .content-window {
      border-radius: 13px;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
  }
  .content-window.fade-out {
      opacity: 0;
  }

  .slider-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #left,
  #right {
    pointer-events: auto;
  }

  .backward-arrow {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23222' stroke='%23222' stroke-width='0.5'%3e%3cpath d='M 11.7 7.3 l -6 -5.9 c -0.4 -0.4 -1.1 -0.4 -1.5 0 c -0.4 0.4 -0.4 1.1 0 1.5 L 9.5 8 l -5.2 5.2 c -0.4 0.4 -0.4 1.1 0 1.5 c 0.4 0.4 1.1 0.4 1.5 0 l 6 -6 C 12.1 8.3 12.1 7.7 11.7 7.3 Z'/%3e%3c/svg%3e");
      transform: rotate(180deg);
      width: 50%;
      height: 50%;
  }

  .forward-arrow {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23222' stroke='%23222' stroke-width='0.5'%3e%3cpath d='M 11.7 7.3 l -6 -5.9 c -0.4 -0.4 -1.1 -0.4 -1.5 0 c -0.4 0.4 -0.4 1.1 0 1.5 L 9.5 8 l -5.2 5.2 c -0.4 0.4 -0.4 1.1 0 1.5 c 0.4 0.4 1.1 0.4 1.5 0 l 6 -6 C 12.1 8.3 12.1 7.7 11.7 7.3 Z'/%3e%3c/svg%3e");
      width: 50%;
      height: 50%;
  }

  .countries-slider-template-container{
    padding: 30px;
  }

  .tab-content {
      display: none;
  }
  .tab-content.active {
      display: block;
  }

/*countries slider end*/

.country-name {
    font-size: clamp(2.25rem, calc(var(--font-size-base)* 3), 3rem);
    font-weight: 200;
}

.country-carousel-div {
    padding: 0;
}

.country-carousel,
.carousel-inner,
.carousel-item {
    width: 100% !important;
    height: 100% !important;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*instagram widget start*/

#instagram-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.carousel {
    width: 80%;
    height: auto;
    overflow: hidden;
}

.carousel-control-next, 
.carousel-control-prev {
    background: #000;
    position: absolute;
    top: calc((100% - 70px)/2);
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
    opacity: 0.65;
    transition: all .2s;
    backface-visibility: hidden;
    right: 0;
}

.carousel-control-next {
    transform: translate(50%, 0);
}

.carousel-control-prev {
    transform: translate(-50%, 0);
}

.carousel-control-prev-icon {
    margin-left: 40%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff' stroke='%23fff' stroke-width='0.5'%3e%3cpath d='M 11.7 7.3 l -6 -5.9 c -0.4 -0.4 -1.1 -0.4 -1.5 0 c -0.4 0.4 -0.4 1.1 0 1.5 L 9.5 8 l -5.2 5.2 c -0.4 0.4 -0.4 1.1 0 1.5 c 0.4 0.4 1.1 0.4 1.5 0 l 6 -6 C 12.1 8.3 12.1 7.7 11.7 7.3 Z'/%3e%3c/svg%3e");
    transform: rotate(180deg);
}

.carousel-control-next-icon {
    margin-right: 40%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff' stroke='%23fff' stroke-width='0.5'%3e%3cpath d='M 11.7 7.3 l -6 -5.9 c -0.4 -0.4 -1.1 -0.4 -1.5 0 c -0.4 0.4 -0.4 1.1 0 1.5 L 9.5 8 l -5.2 5.2 c -0.4 0.4 -0.4 1.1 0 1.5 c 0.4 0.4 1.1 0.4 1.5 0 l 6 -6 C 12.1 8.3 12.1 7.7 11.7 7.3 Z'/%3e%3c/svg%3e");
}
  
.slide-box {
    display: flex;
    justify-content: space-between;
}

.instagram-header-container {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    line-height: 18px;
    font-weight: 400;
    width: 80%;
    max-height: 100%;
    position: relative;
    min-width: 150px;
    min-height: 100px;
}

.instagram-header {
    padding: 20px 20px 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.instagram-header-user a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.instagram-header-user {
    display: flex;
    align-items: center;
}

.instagram-header-user-info-name {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: currentColor;
    
}

.instagram-header-user-picture-wrapper {
    background: linear-gradient(40deg, #f99b4a 15%, #dd3071 50%, #c72e8d 85%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 4px;
    box-sizing: border-box;
    margin-right: 12px;
}

.instagram-header-user-picture-wrapper a {
    text-decoration: none;
    margin: 0;
}

.instagram-header-user-picture {
    display: block;
    width: 40px;
    height: 40px;
    max-width: none;
    box-shadow: 0 0 0 2px #F3F0E7;
    box-sizing: border-box;
    transition: all .2sease;
    margin: 0 !important;
    border-radius: 50%;
}

.instagram-header-user-info-verified-badge {
    display: flex;
    align-items: center;
    margin-left: 4px;
    width: 12px;
}

.instagram-header-user-full-name,
.instagram-header-user-username {
    text-align: start;
}


.instagram-header-user-info-caption {
    font-size: 12px;
    opacity: 0.5;
}

.instagram-header-follow-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-header-follow-button-icon {
    width: 16px;
    height: 16px;
    display: block;
    fill: currentColor;
    margin-right: 8px;
}

.instagram-header-follow-button {
    color: #F3F0E7;
    display: flex;
    align-items: center;
    position: relative;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 12px;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-left: 40px;
    font-size: 14px;
    background-color: #292929;
    opacity: 0.95;
}

.instagram-header-follow-button:hover,
.instagram-header-follow-button:active {
    background-color: #a55e45;
    color: #F3F0E7;
    text-decoration: none;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 25%; /* Adjust width as needed */
  }

  .instagram-posts-item-image-icon-multiple,
  .instagram-posts-item-image-icon-video {
    position: absolute;
    z-index: 1;
    top: .6em;
    right: .6em;
    width: 24px;
    height: 24px;
    transition: all .3sease;
  }

  .instagram-posts-item-image-icon-multiple svg,
  .instagram-posts-item-image-icon-video svg {
    width: 24px;
    height: 24px;
    fill: rgba(243, 240, 231, 0.8);
  }

  .image-container img {
    width: 100%;
    transition: filter 0.5s ease;
    filter: grayscale(0);
  }

  .image-container a {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .image-container:hover img {
    filter: grayscale(100%);
  }
  
  .image-description {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    font-size: 0.85rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    user-select: none; /* Prevent text from being highlighted */
    z-index: 2;
  }
  
  .image-container:hover .image-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
  }
  

/*instagram widget end*/

#contact-section {
    background-color: #a55e45;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 6vh 2vw 2vw 2vw;
    margin-top: 10vh;
    position: relative;  /* Ensure the pseudo-element is positioned correctly */
}

#contact-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('files/media/logos/FoxOnDuty_logo.svg');  /* Replace with your image path */
    background-repeat: no-repeat;  /* Prevent the image from repeating */
    background-position: center center;  /* Center the image */
    background-size: 16rem;
    opacity: 0.1;  /* Set opacity for the background image */
    z-index: 0;  /* Keep the image behind the content */
}

#contact-inner-container {
    width: 100%;
    position: relative;
}

#contact-title {
    font-size: 3rem;
}

.person-photo-1 {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.85);
    user-drag: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.person-photo-2 {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%) scale(0.75);
    user-drag: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.person-photo-div {
    width: 10vw;
    height: 10vw;
    background-color: #F5F5F5;
    border-radius: 50%;
    overflow: hidden;
    border: #a55e45 1px solid;
    position: relative;
}
.person-card {
    padding-right: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center; 
    padding-left: 5vw;
}

.person-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start; 
    margin-left: 20px;
}

.person-card h3 {
    font-weight: 400;
    padding-top: 5px;
    font-size: 1.2rem;
    margin: 0;
}

.person-card p {
    padding-top: 0;
    font-size: 1.1rem;
}

.col-md-6 {
    width: 100%;
}

#contact-details {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 1.1rem;
}

.contact-info-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: center; 
}

#contact-inner-div {
    padding-right: 7vw;
}

#social-media {
    margin: 5vh 0 5vh 0;
}

#social-media a {
    margin: 0 10px;
    color: #212529;
    text-decoration: none;
}

#social-media a svg {
    height: 24px;
    width: 24px;
}

#social-media-whatsapp-icon {
    height: 30px !important;
    width: 30px !important;
}

#social-media-linkedin-icon {
    height: 25px !important;
    width: 25px !important;
}

#social-media a svg {
    fill: #212529;
}

#social-media a svg:hover,
#social-media a svg:active {
    fill: #F3F0E7;
}

#social-media a:hover {
    color: #F3F0E7;
}

#instagram-icon {
    height: 30px !important;
    width: 30px !important;
}

#regions {
    max-width: 265px;
}

#operate-in {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#countries {
    flex-wrap: wrap;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }
  
  #countries span {
    display: flex;
    margin-right: 5px; /* Optional for spacing between words */
    white-space: nowrap; /* Prevent wrapping inside each span */
  }

#fox-pointer {
    width: 20px;
    height: 20px;
    margin-left: 7px;
    background-color: #212529; /* Change fill color */
    -webkit-mask-image: url('files/media/logos/fox-icon.svg'); /* Path to your SVG */
    mask-image: url('files/media/logos/fox-icon.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    opacity: 0.6;
}

#copyright {
    margin-top: 2vh;
}

@media (max-width: 1400px) {    
    #sand-color-section {
        padding: 10vh 6vw;
    }
}

@media (max-width: 1200px) {    
    #sand-color-section {
        padding: 10vh 2vw;
    }

    .services-section-lefthand-text {
        position: absolute;
        width: 50vw;
        left: 60%;
    }

    .services-section-righthand-text {
        position: absolute;
        width: 50vw;
        right: 60%;
    }
}

@media (max-width: 991px) { /* Targets screens less than 1000px */
    #first-page-content {
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    
    #sand-color-section {
        padding-top: 6vh;
    }

    #clients-inner-container {
        width: 90%;
        min-width: 700px;
        padding: 5vh;
    }

    .client-logo {
        width: 90%;
    }

    #vagone-photo-div {
        max-height: 600px;
    }
    #vagone-image {
        height: 100%;
        max-height: 600px;
    }
        
    #quote-div {
        display: none;
    }

    #quote-div-mobile {
        display: flex;
        margin-bottom: 3vh;
    }

    .services-section-lefthand-text {
        position: absolute;
        width: 55vw;
        left: 30%;
    }

    .services-section-righthand-text {
        position: absolute;
        width: 55vw;
        right: 30%;
    }

    .image-container {
        width: 33.34%;
    }
}

@media (max-width: 810px) {
    #first-page-text {
      display: flex;
      flex-direction: column;
      width: 60%;
    }

    #first-page-text .col {
        max-width: 100%;
    }

    #photo-section {
        display: flex;
        margin-top: 2vh;
    }
  }

@media (max-width: 767px) {
    .menu {
        display: none;
    }

    .progress-wrap {
        display: flex;
    }

    #first-page-content {
        min-height: 30vh;
    }

    #first-page-text {
        width: 72%;
      }

    .name-column {
        padding-right: 0;
    }

    #social-media-header a {
        margin: 0 5px;
        color: white;
        text-decoration: none;
    }

    #social-media-header a svg {
        height: 34px;
        width: 34px;
    }

    #banner-text {
        width: 90%;
    }

    .service-card {
        padding: 2.5vh 1.4rem;
    }

    #services-section {
        padding-left: 0;
        padding-right: 0;
    }

    .services-section-righthand-text-div {
        position: static;
    }

    .services-section-lefthand-text-div {
        position: static;
    }

    .services-section-lefthand-text {
        position: static;
        background-color: transparent;
        box-shadow: none;
        min-width: 100%;
        padding: 0;
    }

    .services-section-lefthand-row {
        margin-top: 0;
        padding-right: 0;
    }

    .consultations-row {
        margin-bottom: 5vh;
    }

    .services-section-righthand-text {
        position: static;
        background-color: transparent;
        box-shadow: none;
        min-width: 100%;
        padding: 0;
    }

    .services-section-righthand-row {
        padding-right: 0;
        margin-top: 0;
    }

    .services-section-title {
        width: 70%;
    }

    .services-section-text-description {
        text-align: justify;
    }

    .image-holder-pc {
        display: none;
    }

    .services-section-lefthand-text-div {
        padding: 0 8vw 0 8vw;
    }

    .services-section-righthand-text-div {
        padding: 0 8vw 0 8vw;
    }

    .image-holder-mobile {
        display: flex;
        margin: 10vh 0 8vh 0;
        padding: 0;
    }
    
    #vagone-photo-div {
        position: relative;
        max-height: 300px;
        max-width: 75%;
        padding: 0;
    }

    #vagone-image {
        width: 100%;
        height: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position: top;
    }

    #clients-section {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10vh;
    }

    .instagram-header-container {
        width: 100%;
    }

    .instagram-header {
        padding: 0;
        margin: auto;
    }

    .carousel {
        width: 100%;
    }

    #clients-inner-container {
        min-width: auto;
        padding: 5vh 0 5vh 0;
        width: 95%;
    }

    .contact-info-column {
        align-items: center;
        margin-top: 2vh;
    }

    #regions {
        margin-bottom: 2vh;
    }

    #copyright {
        margin-bottom: 2vh;
    }

    .person-photo-div {
        width: 100px;
        height: 100px;
    }

    .person-card {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #212529;
    }

    #contact-inner-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    .vagone-contact-info {
        margin-right: 48px;
    }

    .image-container {
        width: 50%;
    }
}


@media (max-width: 575px) {
    #first-page-text {
        width: 100%;
      }

    .name-column {
        padding-left: 0;
    }

    #brand-name-div {
        justify-content: center;
    }

    .brand-name {
        font-size: clamp(16px, 16vw, 68.8px);
    }

    #logo {
        width: clamp(9px, 10vw, 43px);
        height: clamp(10.695px, 11.76vw, 50.563px);
    }

    #experts {
        font-size: clamp(3.815px, 3.5vw, 15.05px);
        letter-spacing: clamp(1.092px, 1.2vw, 5.16px);
    }

    #social-media-div {
        margin-top: 2vh;
        justify-content: center;
    }

    #social-media-header a svg {
        height: clamp(18px, 10vw, 42.5px);
        width: clamp(18px, 10vw, 42.5px);
    }

    #social-media-header a {
        margin: 0 5vw;
    }

    #first-page-content {
        margin-top: 0;
        margin-bottom: 2vh;
    }

    .video-background {
        left: 0;
        width: 100%;
    }

    .title-text {
        font-size: clamp(16px, 15vw, 64.5px);
    }
    
    .title-text-top {
        margin-top: 3vh;
        margin-right: 12vw;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    }
    
    .title-text-bottom {
        margin-left: 12vw;
        margin-bottom: 3vh;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    #dream {
        font-size: clamp(16px, 20vw, 86px);
    }

    .paragraph-title {
        letter-spacing: 3px;
    }

    .service-card h3 {
        font-size: 5vw;
    }

    #services-section-inner {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }

    #services-title {
        font-size: clamp(16px, 10vw, 43px);
    }

    #services-sub-text {
        font-size: clamp(16px, 4.5vw, 19.35px);
    }

    p {
        font-size: clamp(16px, 4.25vw, 18.275px);
    }

    #vagone-info-innner-container {
        width: 85%;
        font-size: clamp(16px, 4.5vw, 19.35px);
    }

    #founder {
        letter-spacing: clamp(2.4px, 0.75vw, 3.225px);
        font-size: clamp(16px, 4.5vw, 19.35px);
    }
    
    #vagone-name {
        font-size: clamp(38.4px, 12vw, 51.6px);
    }

    #vagone-socials {
        left: auto;
    }

    #vagone-socials a {
        margin: 0 15px;
    }

    #clients-title {
        font-size: clamp(16px, 10vw, 43px);
    }

    #clients-sub-text {
        font-size: clamp(16px, 4.5vw, 19.35px);
    }

    #contact-section {
        margin-top: 0;
    }

    #contact-title {
        font-size: clamp(16px, 10vw, 43px);
    }

    .person-card h3 {
        font-size: clamp(16px, 4.5vw, 19.35px);
    }

    .person-card {
        padding: 2.5vh 0;
    }

    .vagone-contact-info {
        margin-right: 34px;
    }

    .person-photo-div {
        width: clamp(16px, 30vw, 100px);
        height: clamp(16px, 30vw, 100px);
    }

    .person-card p {
        font-size: clamp(16px, 4.5vw, 19.35px);
    }

    #contact-details {
        font-size: clamp(16px, 4.7vw, 20.21px)
    }

    #social-media a svg {
        height: clamp(28.8px, 8vw, 34.4px);
        width: clamp(28.8px, 8vw, 34.4px);
    }
    
    #social-media-whatsapp-icon {
        height: clamp(36px, 10vw, 43px) !important;
        width: clamp(36px, 10vw, 43px) !important;
    }
    
    #social-media-linkedin-icon {
        height: clamp(29.95px, 8.32vw, 35.77px) !important;
        width: clamp(29.95px, 8.32vw, 35.77px) !important;
    }
    
    #instagram-icon {
        height: clamp(36px, 10vw, 43px) !important;
        width: clamp(36px, 10vw, 43px) !important;
    }

    #social-media a {
        margin: 0 15px;
    }

    #operate-in {
        font-size: clamp(16px, 4.7vw, 20.21px);
    }

    #countries span {
        font-size: clamp(16px, 4.5vw, 19.35px);
    }

    #copyright {
        font-size: clamp(16px, 4vw, 17.2px);
        margin-bottom: 2vh;
    }

    .image-container {
        width: 100%;
    }
}
  