
:root {
    --font-size-base: 1.2vw; 
    --viewport-height: 100vh/58;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F4BF96;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: blur(5px);
  }

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100% !important;
    max-height: 100% !important;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.page-row {
    height: 100%;
}

#envelope-bottom-1 {
    position: absolute;
    bottom: 0;
    width: 80vw;
    height: 24vh;
    max-width: 900px;
    background-color: #F4BF96;
    z-index: 1;
    clip-path: polygon(0% 34%, 50% 61.25%, 100% 34%, 100% 100%, 0% 100%);
    background:
 linear-gradient(172.5deg, #F4BF96, #F4BF96 57%, #f2c6a5 calc(57% + 1px), #f2c6a5 100%);
  }

  #envelope-bottom-2 {
    position: absolute;
    bottom: 0;
    width: 80vw;
    height: 50vh;
    max-width: 900px;
    background-color: #c49978;
    z-index: 0;
    clip-path: polygon(0% 60.75%, 50% 0%, 100% 60.75%, 100% 100%, 0% 100%);
  }

.col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-col-12 {
    height: 100%;
    overflow: hidden;
}

#boundary {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer-frame {
    position: absolute;
    height: 90vh;
    width: 90vw;
    max-width: 900px;
    z-index: 0;
    outline: #8B4513 solid 2px;
    transform: rotate(35deg) scale(1, 1);
}

#frame {
    position: relative;
    background-color: #FCF5ED;
    height: 80vh;
    width: 80vw;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: -1px -1px 1px rgba(0,0,0,0.1);
}

#svg-left-bottom-corner-div {
    position: absolute;
    width: 25vh;
    height: 20vh;
    bottom: -2vh;
    left: -12vh;
    z-index: 1;
}

#svg-left-bottom-corner {
    transform: rotate(240deg) scale(1, 1);
    transform-origin: center; 
    width: 100%;
    height: 100%;
}

#svg-right-bottom-corner-div {
    position: absolute;
    width: 25vh;
    height: 20vh;
    bottom: -2vh;
    right: -12vh;
    z-index: 1;
}

#svg-right-bottom-corner {
    transform: rotate(-240deg) scale(1, 1);
    transform-origin: center; 
    width: 100%;
    height: 100%;
}

#svg-right-top-corner-div {
    position: absolute;
    width: 25vh;
    height: 20vh;
    top: -2vh;
    right: -11vh;
}

#svg-right-top-corner {
    transform: rotate(55deg) scale(1, 1);
    transform-origin: center; 
    width: 100%;
    height: 100%;
}

#svg-left-top-corner-div {
    position: absolute;
    width: 25vh;
    height: 20vh;
    top: -2vh;
    left: -11vh;
}

#svg-left-top-corner {
    transform: rotate(-55deg) scale(1, 1);
    transform-origin: center; 
    width: 100%;
    height: 100%;
}

#ideas-text {
    max-width: 75%;
    padding: 0;
}

.brand-name {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(4.25rem, calc(var(--font-size-base) * 5), 5rem);
    font-weight: 900;
    color: transparent;
    background: url("gold-texture.png");
    background-size: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
    margin: 0;
}

.sub-brand-name-text {
    font-size: clamp(1.4rem, calc(var(--font-size-base) * 1.75), 5rem);
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    margin: 0;
}

.sub-brand-name-text-stressed {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(2.5rem, calc(var(--font-size-base) * 2.5), 5rem);
    margin: 0;
}

.general-text {
    font-size: clamp(1rem, calc(var(--font-size-base) * 1), 5rem);
    font-family: "Raleway", serif;
}

.stressed-text {
    font-size: clamp(1rem, calc(var(--font-size-base) * 1), 5rem);
    font-family: "Dancing Script", serif;
    font-weight: 900;
}

.logo-div {
    height: 100px;
    max-width: 100px;
}
#logo {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("gold-texture.png");
    background-size: cover;
    mask: url("FoxOnDuty_logo.png") no-repeat center;
    -webkit-mask: url("FoxOnDuty_logo.png") no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}

#logo-text {
    font-family: "Raleway", serif;
    font-weight: 500;
    font-size: clamp(0.8rem, calc(var(--font-size-base) * 0.9), 0.9rem);
    position: absolute;
    top:50%
}

#inner-boundary {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.inner-boundary-row {
    width: 100%;
}

#save-the-date {
    font-size: clamp(1.75rem, calc(var(--font-size-base) * 2), 5rem);
}
#countries-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.country-pair {
    white-space: nowrap;
}

.country-pair span {
    font-size: clamp(1rem, calc(var(--font-size-base) * 1), 5rem);
}

.btn {
    width: auto;
    height: 50px;
    border: 1px solid #333;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
    border-radius: 0;
    margin-bottom: 3vh;
  }
  
  .btn::before, .btn::after {
    position: absolute;
    background: #FCF5ED;
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
  .btn::before {
    height: 60px;
    width: calc(100% - 20px);
  }
  
  .btn::after {
    width: calc(100% + 10px);
    height: 30px;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .btn:hover::before {
    width: 0px;
    background: #FCF5ED;
  }
  
  .btn:hover::after {
    height: 0px;
    background: #FCF5ED;
  }
  
  .btn:hover {
    background: #FCF5ED;
  }

  @media (max-width: 1200px) {
    #envelope-bottom-1 {
        width: 90vw;
        max-width: 900px;
      }
    
      #envelope-bottom-2 {
        width: 90vw;
        max-width: 900px;
      }
}
  

  @media (max-width: 768px) {
    #inner-boundary {
        width: 90%;
    }
    .brand-name {
        font-size: clamp(4rem, calc(var(--font-size-base) * 5), 5rem);
    }
    .sub-brand-name-text-stressed {
        font-size: clamp(1rem, calc(var(--font-size-base) * 6), 2.5rem);
    }
}

  @media (max-width: 610px) {
    #envelope-bottom-1 {
        display: none;
      }
    
      #envelope-bottom-2 {
        display: none;
      }

    #frame {
        height: 90vh;
        width: 90vw;
    }
    #inner-boundary {
        width: 98%;
    }

    .brand-name {
        font-size: clamp(3.6rem, calc(var(--font-size-base) * 5), 5rem);
    }

    .sub-brand-name-text {
        font-size: clamp(1.4rem, calc(var(--font-size-base) * 1.75), 5rem);
    }

    .sub-brand-name-text-stressed {
        font-size: clamp(1.85rem, calc(var(--font-size-base) * 6), 5rem);
    }

    #ideas-text{
        max-width: 80%;
    }
    .general-text {
        font-size: clamp(calc(var(--font-size-base) + var(--viewport-height)), calc(var(--font-size-base)), 5rem);
    }

    .country-pair span {
        font-size: clamp(1rem, calc(var(--font-size-base) * 4), 5rem);
    }
}